.beat {
    min-width: 25px;
    min-height: 25px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    gap: 0px;
}

.track {
    padding: 0px;
    margin: 0px;
    min-width: 50px;
    min-height: 25px;
    background-color: #dddddd;
    position: relative;
    background-position: right;
    background-repeat: no-repeat;
    /* &[data-vibe=true] {
        background-image: linear-gradient(to left, rgba(255,255,0,0.3) 100%, transparent 100%);
    } */
    &[data-shaded=true] {
        background-color: whitesmoke;
    }
}

.content {
    border: 1px solid black;
    border-collapse: collapse;
}